.genre-select {
    height: 50px;
    display: flex;
    gap: 30px;
    border-bottom: 3px solid #424242;
}

.genre-select-button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
}

.selected-button {
    margin-bottom: -3px;
    border-bottom: 3px solid #F65261;
}
