.movie-tile {
    max-width: 320px;
    text-align: left;
    color: white;
}

.title-year-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.movie-tile-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
}

.movie-tile-year {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    padding: 5px 8px;
    border: 1px solid #979797;
    border-radius: 5px;
}